<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headFragment"/>
<head th:replace="layout :: headerFragment"/>
<body>
<div class="container">
    <form method="post" action="#" th:action="@{/tank/add}" th:object="${tankDto}">
        <div class="mb-3">
            <label for="petrol" class="form-label">petrol</label>
            <select id="petrol" name="petrol" class="form-select">
                <th:block th:each="petrol : ${petrols}">
                    <option th:text="${petrol.name}">petrol</option>
                </th:block>
            </select>
            <label for="petrol" class="form-label" th:if="${#fields.hasErrors('petrol')}" th:errors="*{petrol}">Name
                Error</label>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">quantity</label>
            <input type="number" step="any" name="quantity" class="form-control" id="quantity"/>
            <label for="quantity" class="form-label" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Name
                Error</label>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<footer th:replace="layout :: footerFragment"/>
</body>
</html>
