<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headFragment"/>
<head th:replace="layout :: headerFragment"/>
<body>
<div class="container">
    <form method="post" action="#" th:action="@{/petrol/add}" th:object="${petrolDto}">
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" name="name" class="form-control" id="name"/>
            <label for="name" class="form-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                Error</label>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input type="number" step="any" name="price" class="form-control" id="price"/>
            <label for="price" class="form-label" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name
                Error</label>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<footer th:replace="layout :: footerFragment"/>
</body>
</html>