<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headFragment"/>
<head th:replace="layout :: headerFragment"/>
<body>
<form method="post" action="/dispenser/delete">
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" readonly th:value="${petrol.id}" class="form-control" id="id"/>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" readonly th:value="${petrol.name}" class="form-control" id="name"/>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input type="text" readonly th:value="${petrol.price}" class="form-control" id="price"/>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
<footer th:replace="./layout :: footerFragment"/>
</body>
</html>