<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headFragment"/>
<head th:replace="layout :: headerFragment"/>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dispenser : ${dispensers}">
        <th scope="row" th:text="${dispenser.id}">1</th>
        <th:block th:each="petrol : ${dispenser.petrolList}">
            <td th:text="${petrol.name}">Mark</td>
        </th:block>
        <td>
            <a th:href="'/dispenser/edit/'+${dispenser.id}">Edit</a><br/><a
                th:href="'/dispenser/delete/'+${dispenser.id}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/dispenser/add">Add dispenser</a>
<footer th:replace="./layout :: footerFragment"/>
</body>
</html>