<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headFragment"/>
<head th:replace="layout :: headerFragment"/>
<body>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">Dispensers</th>
        <th:block th:each="dispenser : ${station.dispensers}">
            <td th:text="${dispenser.id}">Mark</td>
        </th:block>
    </tr>
    <tr>
        <th scope="row">Tanks</th>
        <th:block th:each="tank : ${station.tanks}">
            <td th:text="${tank.id}">Mark</td>
        </th:block>
    </tr>
    </tbody>
</table>
<footer th:replace="./layout :: footerFragment"/>
</body>
</html>